<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_detail.name }}</h1>
            <div>
                <p>
                    <a href="{% url 'todo_list_update' todo_detail.id %}">Edit</a>
                </p>
            </div>
            <h2>Tasks</h2>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
                {% for todo_list in todo_items %}
                <tbody>
                    <td>{{ todo_list.task }}</td>
                    <td>{{ todo_list.due_date }}</td>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </main>
</body>

</html>